[main]
certname = {{ ansible_facts['fqdn'] }}
server = {{ ansible_facts['fqdn'] }}
autosign = {{ openvox_server_autosign | lower }}
ssldir = /etc/puppetlabs/puppet/ssl
vardir = /opt/puppetlabs/server/data/puppetserver

[server]
environment_timeout = {{ openvox_server_environment_timeout }}
external_nodes = /etc/puppetlabs/puppet/node.rb
node_terminus = exec
reports = foreman
